*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  position: relative;
}
.header{
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: lightblue;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.247);
}
.side{
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
}
.side .marks img{
  width: 70px;
  height: auto;
  background: lightgray;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}
.side .restart-btn{
  background: lightgray;
  cursor: pointer;
  padding: 5px 10px;
}
.restart-btn a{
  text-decoration: none;
  color: black;
}
.main{
  grid-column: 2/-1;
  grid-row: 2/-1;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .board{
  width: 60%;
  height: 500px;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board .block{
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
}

.result-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 120;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.round-result{
  background-color: white;
  border-radius: 20px;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.204);
  transform: scale(0);
  transition-duration: 0.2s;
}

.round-result h1{
  font-size: 2.5rem;
}

.round-result .btns{
  display: flex;
  gap: 20px;
}

.btns button{
  width: 100px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.btns a{
  text-decoration: none;
  color: black;
}
